.navbar {background-color: teal !important;}

.bi {color: #FEE715FF;}

.alert {background-color: teal !important; color: black !important;}

.fa {color: black !important;}

.card { margin-top: 200px ; margin-bottom: 300px;}

.btn:hover { background-color: teal}

.btn {background-color: teal;}